body{font-family:Inconsolata,"Courier New";background-color: rgb(0, 0, 0);color:48D960;}

#MainLogo{max-width:98%;}

#header{display:table-cell; vertical-align:middle; text-align:center;width:10000px;}

@font-face {
    font-family: "Inconsolata";
    src: url("Fonts/Inconsolata.otf") format("opentype");
}
/*p { 
    font-family: "Inconsolata", "Times New Roman", sans-serif;
}*/

body {background-image:url('images/background.png');}

a:link {color:#00BB00;}    /* unvisited link */
a:visited {color:#008800;} /* visited link */
a:hover {color:#00FF00;}   /* mouse over link */
a:active {color:#009900;}  /* selected link */
